h1
  | Your Individual Emotional
  br
  | Imprint (IEI) is ready.

.bg

form
  h2 Now get a print of your IEI
  h2.orange Enter email for instructions:

  input(type='email', placeholder='your email address')
  input.submit(type='submit', value='receive instructions')
  a.skip(href='#') end session
