h1
  | Your Individual Emotional
  br
  | Imprint (IEI) is ready.

.bg
  .header
    .a Individual emotional imprint (IEI)
    .b= '#' + hash
    .c
      | Composite
      br
      | Emotional Index
    .d= avg.toString().substr(0, 3)
    .horiz
    .vert

  .footer
    .logo
    .top
    .vert
    .big The Human Preservation Initiative
    .small
      | The Human Preservation Initiative (HPI), is concerned with the acquisition and conservation of artifacts
      br
      | related to the human species. In the event of our complete extinction, we will have gathered the materials
      br
      | necessary to insure the eventual re-introduction of our species at a suitably hospitable future time or place.

form
  h2 Now get a print of your IEI
  h2.orange Enter email for instructions:

  input(type='email', placeholder='your email address')
  input.submit(type='submit', value='receive instructions')
  a.skip(href='#') end session
