.flip-hex
  .front
    img(src='/frontend/image/smiley-opening.png')
  .back
    img(src='/frontend/image/skull-opening.png')
h3 Create your Emotional Imprint.  Save the species.
h1 Touch to begin
.gradient
