.initiation-piece
  h3 The Human Preservation Initiative
  h2 Emotional Imprint Station
  .flip-hex.animated
    .front
      img(src='/frontend/image/smiley-opening.png')
    .back
      img(src='/frontend/image/skull-opening.png')
  h1 Touch to begin
