.first
  object(type='image/svg+xml', data-data='/frontend/image/infinity_path.svg')
    params(name='src', value='/frontend/image/infinity_path.svg')
  p The Human Preservation Initiative

.second
  .logo
  .year 2013
  p
    | Disease. War.
    br
    | Environmental Collapse.
  p
    | Survival of our species
    br
    | is far from certain.
  p
    | To prevent extinction,
    br
    | we are preserving samples
    br
    | of everything human.
  p
    | DNA, memories, artifacts,
    br
    | and - with this device -
    br
    | emotions.
  p
    | Tap anywhere to create
    br
    | your emotional imprint.
