.selection
  .logo
  h1.name= name

  .pieces
    a(href='#')
      img(src='/frontend/image/creation/' + name.toLowerCase() + '1.png')
    a(href='#')
      img(src='/frontend/image/creation/' + name.toLowerCase() + '2.png')
    a(href='#')
      img(src='/frontend/image/creation/' + name.toLowerCase() + '3.png')
    a(href='#')
      img(src='/frontend/image/creation/' + name.toLowerCase() + '4.png')

  .counter
    .s1
    .s2
    .s3
    .s4
    .s5
    .s6
