padding = 0px
width = 768px - padding
height = 1024px - padding

orange = rgb(255, 85, 50)

title-font = collator, sans-serif;
body-font = collator, sans-serif;

@font-face
  font-family 'collator'
  src url('/frontend/font/collator.otf')

html
  background-color white
  color black
  width 100%
  height 100%

body
  width width
  height height
  position absolute
  top 50%
  left 50%
  margin-top - (height / 2)
  margin-left - (width / 2)

h1
  font-family title-font
  font-weight normal
  font-size 32pt
  text-transform uppercase

h2
  font-family title-font
  font-weight normal
  font-size 28pt
  text-transform uppercase

h3
  font-family title-font
  font-weight normal
  font-size 16pt

p
  font-family body-font
  font-size 13pt
