orange = rgb(255, 85, 50)

body > div
  transition opacity 0.6s
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color #EEE
  opacity 0
  z-index 1
  box-sizing border-box
  overflow hidden

  &.underway
    opacity 1
    z-index 100

.selection-header
  position absolute
  left 0
  top 0
  width 100%
  background-color orange
  background-image url('/frontend/image/logo-black.png')
  background-position 470px 40px
  background-repeat no-repeat
  height 160px

#initiation
  text-align center

  > div
    transition opacity 1.6s linear
    opacity 0

    &.visible
      opacity 1

  .initiation-piece
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding-top 100px
    box-sizing border-box
    cursor pointer

    h1
      font-size 60px
      margin 0 40px
      line-height 1

    .img
      width 500px
      height 500px
      margin 20px auto
      background-repeat no-repeat
      background-position center

    h2
      font-size 40px
      text-transform none
      line-height 1
      margin 0 0 10px 0

    &.orange
      background-color orange
      .img
        background-image: url('/frontend/image/skull-large-black.png'), url('/frontend/image/hex-white.png')
      h1
        color white
      h2
        color black

    &.white
      background-color white
      .img
        background-image: url('/frontend/image/smiley-large-white.png'), url('/frontend/image/hex-black.png')
      h2
        color orange

#intrusion
  transition opacity 1s
  background-color white
  text-align center

  > div
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  .first
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background-color black

    &.hidden
      display none

    .hex
      background-image url('/frontend/image/hex-small-white.png')
      width 243px
      height 279px
      position absolute
      top 400px
      left 263px
      -webkit-transition -webkit-transform 1s
      -webkit-transform rotate(-90deg) scale(0)
      z-index 1

      &.in
        -webkit-transform rotate(0) scale(1)
      &.out
        -webkit-transition -webkit-transform 0.8s
        -webkit-transform rotate(180deg) scale(6)
      &.gone
        display none

    object
      position absolute
      top 492px
      left 282px
      z-index 2
    p
      transition all 0.4s
      opacity 0
      -webkit-transform translate3d(0, -20px, 0)
      color white
      text-transform uppercase
      font-size 11pt
      z-index 1
      position absolute
      top 700px
      width 100%
      left 0

      &.visible
        opacity 1
        -webkit-transform translate3d(0, 0, 0)

      &.fade
        opacity 0

  .second
    padding-top 120px
    height 100%
    width 100%
    display none
    z-index 4

    &.visible
      display block

    .hex
      background-image url('/frontend/image/hex-small-black.png')
      width 243px
      height 279px
      position absolute
      top 400px
      left 263px
      -webkit-transition -webkit-transform 1s
      -webkit-transform rotate(-90deg) scale(0)
      z-index 1

      &.in
        -webkit-transform rotate(0) scale(1)
      &.out
        -webkit-transform rotate(90deg) scale(6)
      &.gone
        display none

    .year
      position absolute
      top 547px
      left 290px
      color white
      font-size 80px
      text-align left
      opacity 0
      z-index 2
      line-height 1px

      &.visible
        transition opacity 0.1s
        opacity 1

      &.done
        transition color 0.6s, -webkit-transform 0.6s 1s
        color orange
        // font-size 260px
        -webkit-transform translateY(-600px)

    .orange-block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color orange
      opacity 0
      transition opacity 0.6s
      z-index 3

      &.visible
        opacity 1

      &.up
        transition -webkit-transform 0.6s, opacity 0.6s 0.6s
        -webkit-transform translateY(-864px)
        opacity 0

    .text
      position relative
      z-index 4
      -webkit-transform translateY(900px)
      transition -webkit-transform 0.6s
      opacity 1

      &.visible
        -webkit-transform none

      &.hidden
        transition opacity 0.6s
        opacity 0

      p
        transition opacity 1s, color 1s
        opacity 0
        color white
        font-size 40px

        &.visible
          opacity 1
        &.orange
          color orange

  .third
    display none
    transition opacity 0.4s
    background-image url('/frontend/image/bg.png')
    width 100%
    height 100%
    background-color white
    z-index 2
    position absolute
    top 0
    left 0

    &.visible
      display block

.selection
  background-image url('/frontend/image/bg.png')
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background-color white

  .name
    opacity 0

    &.visible
      transition opacity 0.4s
      opacity 1

  h1.name
    position absolute
    top 112px
    left 30px
    margin 0
    line-height 1
    color white
    text-transform none
    transition opacity 0.4s 3s !important

  .instructions
    opacity 1
    position absolute
    top 440px
    width 440px
    left 164px

    &.hidden
      transition opacity 0.6s
      opacity 0

    h2
      text-transform none
      text-align center

    h2.name
      text-transform uppercase
      color orange

  .counter
    position absolute
    left 50%
    top 460px
    width 120px
    height 140px
    margin-left -60px
    -webkit-transform scale(1.5)
    display none

    &.visible
      display block

    &.regular
      -webkit-transition -webkit-transform 0.4s
      -webkit-transform none

    div
      width 60px
      height 70px
      background-image url('/frontend/image/timer-segment.png')
      position absolute
      top 36px
      left 30px
      -webkit-transition all 0.4s
      opacity 1

      &.done
        opacity 0

      &.s1
        -webkit-transform rotate(0deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(0deg) translateX(-32px) scale(0)
      &.s2
        -webkit-transform rotate(60deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(60deg) translateX(-32px) scale(0)
      &.s3
        -webkit-transform rotate(120deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(120deg) translateX(-32px) scale(0)
      &.s4
        -webkit-transform rotate(180deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(180deg) translateX(-32px) scale(0)
      &.s5
        -webkit-transform rotate(240deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(240deg) translateX(-32px) scale(0)
      &.s6
        -webkit-transform rotate(300deg) translateX(-32px) scale(1)
        &.done
          -webkit-transform rotate(300deg) translateX(-32px) scale(0)

  .pieces
    a
      background-image url('/frontend/image/black-tile.png')
      width 288px
      height 342px
      position absolute
      text-align center
      -webkit-transform translateY(-1000px)

      &:nth-child(1)
        top 120px
        left 30px
        right auto
      &:nth-child(2)
        top 120px
        left auto
        right 30px
      &:nth-child(3)
        top 630px
        left 30px
        right auto
      &:nth-child(4)
        top 630px
        right 30px
        left auto

    &.visible
      a
        -webkit-transform none

        &.gone
          -webkit-transform translateY(1000px)

        &:nth-child(1)
          -webkit-transition -webkit-transform 0.5s 0s
        &:nth-child(2)
          -webkit-transition -webkit-transform 0.5s 0.2s
        &:nth-child(3)
          -webkit-transition -webkit-transform 0.5s 0.4s
        &:nth-child(4)
          -webkit-transition -webkit-transform 0.5s 0.6s
