orange = rgb(255, 85, 50)

body > div
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 1
  box-sizing border-box
  overflow hidden

  &.underway
    z-index 100

// Global styling

.selection-header
  position absolute
  left 0
  top 0
  width 100%
  background-color orange
  background-image url('/frontend/image/logo-black.png')
  background-position 470px 40px
  background-repeat no-repeat
  height 160px

@keyframes flip-hex-rotate-front
  0%
    -webkit-transform rotateY(0deg)
    z-index 1
  50%
    -webkit-transform rotateY(180deg)
    z-index 0
  100%
    -webkit-transform rotateY(360deg)
    z-index 1

@keyframes flip-hex-rotate-back
  0%
    -webkit-transform rotateY(180deg)
    z-index 0
  50%
    -webkit-transform rotateY(360deg)
    z-index 1
  100%
    -webkit-transform rotateY(540deg)
    z-index 0

.flip-hex
  position relative

  .front, .back
    -webkit-backface-visibility hidden
    transition -webkit-transform 0.4s
    width 100%
    height 100%
    position absolute
    top 0
    left 0

  .front
    -webkit-transform rotateY(0deg)
  .back
    -webkit-transform rotateY(180deg)

  &.flipped
    .front
      -webkit-transform rotateY(180deg)
    .back
      -webkit-transform rotateY(360deg)

  &.animated
    .front
      -webkit-animation flip-hex-rotate-front 4s ease-in-out infinite
    .back
      -webkit-animation flip-hex-rotate-back 4s ease-in-out infinite

// Section styling

#initiation
  text-align center
  background-color orange
  opacity 0
  transition opacity 0.6s 1s

  &.underway
    transition opacity 0.6s
    opacity 1

  h1, h2, h3
    line-height 1
    margin 0

  h3
    font-size 22px
    color white
    margin-top 60px
  h2
    font-size 40px
    text-transform none
    margin-top 10px
  h1
    font-size 68px
    color white
    margin-top 20px

  .flip-hex
    margin 60px auto
    width 523px
    height 600px

    .front
      background-image url('/frontend/image/hex-opening-black.png')
    .back
      background-image url('/frontend/image/hex-opening-white.png')

#intrusion
  transition opacity 1s
  background-color white
  text-align center
  opacity 0
  transition opacity 0.6s

  &.underway
    opacity 1

  > div
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  .first
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background-color black

    &.hidden
      display none

    .hex
      background-image url('/frontend/image/hex-small-white.png')
      width 243px
      height 279px
      position absolute
      top 400px
      left 263px
      -webkit-transition -webkit-transform 1s
      -webkit-transform rotate(-90deg) scale(0)
      z-index 1

      &.in
        -webkit-transform rotate(0) scale(1)
      &.out
        -webkit-transition -webkit-transform 0.8s
        -webkit-transform rotate(180deg) scale(6)
      &.gone
        display none

    object
      position absolute
      top 492px
      left 282px
      z-index 2
    p
      transition all 0.4s
      opacity 0
      -webkit-transform translate3d(0, -20px, 0)
      color white
      text-transform uppercase
      font-size 11pt
      z-index 1
      position absolute
      top 700px
      width 100%
      left 0

      &.visible
        opacity 1
        -webkit-transform translate3d(0, 0, 0)

      &.fade
        opacity 0

  .second
    padding-top 120px
    height 100%
    width 100%
    display none
    z-index 4

    &.visible
      display block

    .hex
      background-image url('/frontend/image/hex-small-black.png')
      width 243px
      height 279px
      position absolute
      top 400px
      left 263px
      -webkit-transition -webkit-transform 1s
      -webkit-transform rotate(-90deg) scale(0)
      z-index 1

      &.in
        -webkit-transform rotate(0) scale(1)
      &.out
        -webkit-transform rotate(90deg) scale(6)
      &.gone
        display none

    .year
      position absolute
      top 547px
      left 290px
      color white
      font-size 80px
      text-align left
      opacity 0
      z-index 2
      line-height 1px

      &.visible
        transition opacity 0.1s
        opacity 1

      &.done
        transition color 0.6s, -webkit-transform 0.6s 1s
        color orange
        // font-size 260px
        -webkit-transform translateY(-600px)

    .orange-block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color orange
      opacity 0
      transition opacity 0.6s
      z-index 3

      &.visible
        opacity 1

      &.up
        transition -webkit-transform 0.6s, opacity 0.6s 0.6s
        -webkit-transform translateY(-864px)
        opacity 0

    .text
      position relative
      z-index 4
      -webkit-transform translateY(900px)
      transition -webkit-transform 0.6s
      opacity 1

      &.visible
        -webkit-transform none

      &.hidden
        transition opacity 0.6s
        opacity 0

      p
        transition opacity 1s, color 1s
        opacity 0
        color white
        font-size 40px
        line-height 1.1

        &.visible
          opacity 1
        &.orange
          color orange

  .third
    display none
    transition opacity 0.4s
    background-image url('/frontend/image/bg2.png')
    width 100%
    height 100%
    background-color white
    z-index 2
    position absolute
    top 0
    left 0

    &.visible
      display block

.selection
  background-image url('/frontend/image/bg.png')
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background-color white

  h1.name
    position absolute
    top 112px
    left 30px
    margin 0
    line-height 1
    color white
    text-transform none
    -webkit-transform translateY(-200px)
    transition -webkit-transform 0.4s, opacity 0.2s
    opacity 0

    &.visible
      -webkit-transform none
      opacity 1

  .instructions
    z-index 2
    opacity 1
    position absolute
    top 456px
    width 440px
    left 164px
    pointer-events none

    &.visible
      h2
        opacity 1

    &.hidden
      .flip-hex
        .back
          transition color 0.6s
          color white

    h2
      z-index 2
      position relative
      text-align center
      text-transform none
      opacity 0
      transition opacity 0.6s

    .flip-hex
      line-height 279px
      font-size 37px
      width 243px
      height 279px
      top 4px
      left 98px
      position absolute
      text-align center
      z-index 1
      text-transform uppercase

      .back, .front
        background-image url('/frontend/image/hex-small-white.png')
        color orange

  .counter
    position absolute
    left 50%
    top 460px
    width 120px
    height 140px
    margin-left -60px
    display none
    z-index 4

    &.visible
      display block

    back = -60px
    backstart = -800px
    baserot = -240deg

    &.regular
      div.s1
        -webkit-transform rotate(0deg + baserot) translateX(back) scale(-1, 1)
      div.s2
        -webkit-transform rotate(60deg + baserot) translateX(back) scale(-1, 1)
      div.s3
        -webkit-transform rotate(120deg + baserot) translateX(back) scale(-1, 1)
      div.s4
        -webkit-transform rotate(180deg + baserot) translateX(back) scale(-1, 1)
      div.s5
        -webkit-transform rotate(240deg + baserot) translateX(back) scale(-1, 1)
      div.s6
        -webkit-transform rotate(300deg + baserot) translateX(back) scale(-1, 1)

    div
      width 120px
      height 140px
      background-image url('/frontend/image/timer-segment.png')
      position absolute
      top 70px
      left 0px
      -webkit-transition all 0.4s
      opacity 1

      &.done
        opacity 0

      &.s1
        -webkit-transform rotate(0deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 0.8
        &.done
          -webkit-transform rotate(0deg + baserot) translateX(back) scale(0)
      &.s2
        -webkit-transform rotate(60deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 0.9
        &.done
          -webkit-transform rotate(60deg + baserot) translateX(back) scale(0)
      &.s3
        -webkit-transform rotate(120deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 1
        &.done
          -webkit-transform rotate(120deg + baserot) translateX(back) scale(0)
      &.s4
        -webkit-transform rotate(180deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 0.75
        &.done
          -webkit-transform rotate(180deg + baserot) translateX(back) scale(0)
      &.s5
        -webkit-transform rotate(240deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 0.6
        &.done
          -webkit-transform rotate(240deg + baserot) translateX(back) scale(0)
      &.s6
        -webkit-transform rotate(300deg + baserot) translateX(backstart) rotate(90deg) scale(-1, 1)
        opacity 0.5
        &.done
          -webkit-transform rotate(300deg + baserot) translateX(back) scale(0)

  .pieces
    z-index 1

    a
      width 243px
      height 279px
      position absolute
      text-align center

      &:nth-child(1)
        top 242px
        left 136px
      &:nth-child(2)
        top 461px
        left 10px
      &:nth-child(3)
        top 678px
        left 136px
      &:nth-child(4)
        top 679px
        left 390px
      &:nth-child(5)
        top 461px
        left 516px
      &:nth-child(6)
        top 242px
        left 390px

      .back
        background-image url('/frontend/image/hex-small-black.png')
        img
          position absolute
          left 0
          top 0
          z-index 2
        .red
          width 100%
          height 100%
          position absolute
          background-image url('/frontend/image/hex-small-red.png')
          opacity 0
          z-index 1

      &.selected
        .back
          background-image url('/frontend/iamge/hex-small-white.png')

          .red
            transition opacity 0.4s
            opacity 1

      .front
        background-image url('/frontend/image/hex-small-white.png')

#completion
  background-image url('/frontend/image/bg2.png')
  text-align center

  .selection-header
    border-top 1064px solid orange
    -webkit-transform translateY(-1064px)

    &.down
      -webkit-transform none
      transition -webkit-transform 0.6s

  object
    position absolute
    top 492px
    left 282px
    z-index 2

  .hex
    background-image url('/frontend/image/hex-small-white.png')
    width 243px
    height 279px
    position absolute
    top 400px
    left 263px
    -webkit-transition -webkit-transform 1s
    -webkit-transform rotate(-90deg) scale(0)
    z-index 1

    &.in
      -webkit-transform rotate(0) scale(1)
    &.out
      -webkit-transform rotate(90deg) scale(6)
    &.gone
      display none

  p
    transition all 0.4s
    opacity 0
    -webkit-transform translate3d(0, 20px, 0)
    color white
    text-transform uppercase
    font-size 11pt
    z-index 1
    position absolute
    top 700px
    width 100%
    left 0

    &.visible
      opacity 1
      -webkit-transform translate3d(0, 0, 0)

    &.fade
      opacity 0
