orange = rgb(255, 85, 50)

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

@font-face
  font-family 'collator'
  src url('/frontend/font/collator.otf')

.flip-hex
  position relative

  .front, .back
    -webkit-backface-visibility hidden
    transition -webkit-transform 0.4s
    width 100%
    height 100%
    position absolute
    top 0
    left 0

  .front
    -webkit-transform rotateY(0deg)
  .back
    -webkit-transform rotateY(180deg)

  &.flipped
    .front
      -webkit-transform rotateY(180deg)
    .back
      -webkit-transform rotateY(360deg)

  &.animated
    .front
      -webkit-animation flip-hex-rotate-front 4s ease-in-out infinite
    .back
      -webkit-animation flip-hex-rotate-back 4s ease-in-out infinite

html
  background-color orange
  font-family collator

body
  margin 0
  text-align center

header
  background-color rgba(0, 0, 0, 0.4)
  height 50px
  color white
  line-height 50px

  .content
    width 90%
    height 50px
    max-width 1024px
    margin auto
    position relative
    background-image url('/frontend/image/logo-white.png')
    background-repeat no-repeat
    background-position center left

    a
      float right
      color white

    h2
      position absolute
      left 0
      top 44px
      font-size 20px
      text-transform uppercase
      line-height 1.2

.flip-hex
  margin 180px auto 80px auto
  width 523px
  height 600px
  background-image url('/frontend/image/hex-opening-white.png')
  background-size 100%

  .back, .front
    transition -webkit-transform 1.4s
    z-index 2

  img
    width 100%

a.begin
  display inline-block
  font-size 32pt
  color white
  text-decoration none
  position relative
  margin-bottom 60px

  &:before
    content ""
    position absolute
    bottom 5px
    left 0
    width 100%
    height 2px
    background-color white


@media screen and (max-width: 600px)
  header
    height 44px
    line-height 44px

    .content
      height 44px
      width 96%

      a
        font-size 12px

      h2
        font-size 14px

  .flip-hex
    width (523px * 0.4)
    height (600px * 0.4)
    margin 60px auto 20px auto
