doctype 5
// (manifest='/misc/creation.appcache')
html
  head
    title TITLE

    meta(name='apple-mobile-web-app-capable', content='yes')

    link(rel='stylesheet', href='/frontend/style/common.styl')
    link(rel='stylesheet', href='/frontend/style/creation.styl')

    script(src='/frontend/script/lib/sha1.js')
    script(src='/frontend/script/core.js')
    script(src='/frontend/script/data.js')
    script(src='/frontend/script/templating.js')
    script(src='/frontend/script/creation.js')
    script(src='/frontend/script/creation/intrusion.js')
    script(src='/frontend/script/creation/instruction.js')
    script(src='/frontend/script/creation/completion.js')
    script(src='/frontend/script/creation/expulsion.js')

  body

