doctype 5
// (manifest='/misc/creation.appcache')
html
  head
    title TITLE

    link(rel='stylesheet', href='/frontend/style/creation.styl')

    script(src='/frontend/script/core.js')
    script(src='/frontend/script/templating.js')
    script(src='/frontend/script/creation.js')

  body
    h1 Create Awesomeness
    h1 Loading...
