doctype 5
// (manifest='/misc/creation.appcache')
html
  head
    title Human Preservation Initiative

    meta(name='apple-mobile-web-app-capable', content='yes')

    link(rel='stylesheet', href='/frontend/style/common.styl')
    link(rel='stylesheet', href='/frontend/style/creation.styl')

    script(src='/frontend/script/lib/sha1.js')
    script(src='/frontend/script/core.js')
    script(src='/frontend/script/data.js')
    script(src='/frontend/script/templating.js')
    script(src='/frontend/script/hexagon.js')
    script(src='/frontend/script/creation.js')

    script(src='/frontend/templates/creation/initiation.jade')
    script(src='/frontend/templates/creation/intrusion.jade')
    script(src='/frontend/templates/creation/selection.jade')
    script(src='/frontend/templates/creation/completion.jade')
    script(src='/frontend/templates/creation/demonstration.jade')
    script(src='/frontend/templates/creation/expulsion.jade')

    script(src='/frontend/script/creation/initiation.js')
    script(src='/frontend/script/creation/intrusion.js')
    script(src='/frontend/script/creation/instruction.js')
    script(src='/frontend/script/creation/selection.js')
    script(src='/frontend/script/creation/completion.js')
    script(src='/frontend/script/creation/demonstration.js')
    script(src='/frontend/script/creation/expulsion.js')

  body

