doctype 5
// (manifest='/misc/creation.appcache')
html
  head
    title TITLE

    link(rel='stylesheet', href='/frontend/style/creation.styl')

    script(src='/frontend/script/lib/sha1.js')
    script(src='/frontend/script/core.js')
    script(src='/frontend/script/data.js')
    script(src='/frontend/script/templating.js')
    script(src='/frontend/script/creation.js')
    script(src='/frontend/script/creation/intro.js')
    script(src='/frontend/script/creation/outro.js')
    script(src='/frontend/script/creation/generator.js')

  body
    h1 Create Awesomeness
    h1 Loading...
