doctype 5
html
  head
    title TITLE

    meta(name='apple-mobile-web-app-capable', content='yes')

    link(rel='stylesheet', href='/frontend/style/dashboard.styl')

    script(src='/frontend/script/core.js')
    script(src='/frontend/script/templating.js')
    script(src='/frontend/script/dashboard.js')
    script(src='/frontend/templates/test.jade')
  body
    h1 Hello World
    h2 Dashboard
