doctype 5
html
  head
    title The Human Preservation Initiative

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    link(rel='stylesheet', href='/frontend/style/index.styl')

    script(src='/frontend/script/core.js')
    script(src='/frontend/script/index.js')
  body
    header
      .content
          a(href='mailto:lab@humanpreservationinitiative.mailgun.org') Contact
          h2 The Human Preservation Initiative

    .flip-hex
      .shadow
      .front
        img(src='/frontend/image/smiley-opening.png')
      .back
        img(src='/frontend/image/skull-opening.png')
